body {
  text-align: center;
  background-color: #000000;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 20px auto 70px auto;
  color: #fdfdfd;
  text-align: center;
  font-weight: 100;
  border: 1px solid white;
  padding: 41px;
  display: inline;
}

.container {
  display: block;
  width: 100%;
  margin: 20px 0 50px 0;
  height: 50vh;
}

.btn {
  display: inline-block;
  height: 230px;
  width: 400px;
  margin: 7px
}


.main
{
  display: grid;
  grid-auto-rows: auto auto auto;
  grid-auto-columns: auto;
  justify-content: center;
  align-items: center;
}

div.row
{
  width: 100vw;
  margin: -2px;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 6, 6);
  border-radius: 10px 0 0 0px;
}

.green {
  background-color: rgb(0, 255, 4);
  border-radius: 0px 10px 0 0px;
}

.blue {
  background-color: rgb(2, 196, 255);
  border-radius: 0px 0 0 10px;
}

.yellow {
  background-color: rgb(248, 248, 0);
  border-radius: 0px 0 10px 0px;
}

.pressed {
  box-shadow: 0 0 20px rgb(251, 249, 249);
  background-color: rgb(74, 70, 70);
}

.start
{
  word-spacing: 10px;
  padding: 20px 70px;
  border-radius: 20px;
  border: 2px solid white;
  font-size: 1.4rem;
  font-weight: 50;
  background: #fbfbfb;
  font-family: 'Press Start 2P';
  letter-spacing: 5px;
  margin-top: 20px;
  display: inline-block;
}

.start:hover
{
  cursor: pointer;
  background-color: rgb(161, 164, 169);
}

@media (min-width:650px) and (max-width:1100px)
{
  div.row 
  {
    width: 100vw;
    margin: 2px 0;
  }
  .btn
  {
    width: 350px;
    height: 200px;
    margin: 0px 2px;
    border: 2px solid black;
    box-shadow: 3px 3px 4px rgb(54, 54, 54);
  }
  div.container
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #level-title
  {
    font-size: 2.2rem;
    line-height: 50px;
    margin-top: 30px;
  }
  
  .start
  {
    padding: 40px 90px;
    border-radius: 50px;
    margin-top: 0px;
    font-size: 30px;
  }
  
  .main
  {
    display: grid;
    grid-auto-columns: 100vw;
    grid-auto-rows: auto auto auto;
    justify-content: center;
    align-items: center;
  }
  }